#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/
{
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp F1   &kp F2   &kp F3   &kp F4     // ROW 0
                &kp F5   &kp F6   &kp F7   &kp F8     // ROW 1
                &kp F9   &kp F10  &kp F11  &kp F12    // ROW 2
                &kp N1   &kp N2   &kp N3   &kp N4     // ROW 3
            >;
        };
    };
};
